body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    border: none;
    outline: none;
    text-decoration: none;
    box-shadow: none;
    cursor: pointer;
    color: white;
    border-radius: 0;
    font-size: 3rem;
}

#buttons {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-rows: auto 1fr;
    gap: 0;
}

#display {
    grid-column: 1 / -1;
    height: 150px;
    width: 350px;
    font-size: 60px;
    background-color: white;
    border: none;
    outline: none;
    text-align: right;
    pointer-events: none;
}

#lSide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#rSide {
    display: flex;
    flex-direction: column;
}

#lSide button{
    background-color: #3b3b3b;
}

#rSide button{
    background-color: #525252;
}

#lSide button:active{
    background-color: #333333;
}

#rSide button:active{
    background-color: #0056b3;
}